body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 90%);
}

header {
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

h1 {
    font: 70px "Brush Script MT", Cursive;
    color: #fff;
    line-height: 20px;
}

span {
    font: 20px "Helvetica", Monospace;
    color: #fff;
}

section {
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
}

.body {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.body-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #fff;
}

.div-nav {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
}

nav {
    background: rgba(255, 241, 152, 0);
    border: 1px solid;
    border-width: 1px;
    border-image: linear-gradient(136deg, #FFAACE 0%, #A7E4E8 100%) 1 / 1px stretch;
    border-radius: 0px;
    box-sizing: border-box;
    display: flex;
    height: 50%;
    width: 65%;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px 15px;
}

li {
    font: 16px "Helvetica", Monospace;
    color: #545454;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

li:hover {
    background: #EFDBFF;
}

li:active {
    background: #EFDBFF;
}

#li-active {
    background: #EFDBFF;
}

.info-collection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-image-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #EFDBFF;
    font: 16px "Helvetica", Monospace;
    color: #545454;
    text-align: justify;
    text-justify: inter-word;
    line-height: 18px;
    padding: 20px;
    margin: 0px 50px;
    flex-direction: column;
    border-radius: 20px;
}

.profile-image {
    padding-bottom: 5px;
}

.profile-image img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
    border-width: 7px;
}

.links-image {
    padding: 10px 5px 0px 5px;
}

.links-image a:hover {
    color: #fff;
}

.info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
    font: 100 18px Helvetica, Monospace;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 15px 0px;
}

.footer-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #fff;
}

.footer-group p {
    font-family: droid-serif-w01-regular, droid-serif-w02-regular, droid-serif-w10-regular, serif;
    text-align: center;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #545454;
}

a:active {
    color: #545454;
}

a:hover {
    color: #545454;
}

.pink-line {
    border-top: 3px solid #EFDBFF;
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    display: block;
    transform-origin: center 0.5px;
}

.blue-line {
    border-bottom: 3px solid #A7E4E8;
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    display: block;
    transform-origin: center 0.5px;
}

.info-contato {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px 50px 50px;
    font: 100 18px Helvetica, Monospace;
    border: 3px solid #EFDBFF;
    box-sizing: border-box;
    width: 60%;
    display: block;
    text-align: center;
    margin: 20px 0px 60px 0px;
}

h3 {
    font: 24px "Helvetica", Monospace;
    color: #545454;
}

.info-contato p {
    font: 16px "Helvetica", Monospace;
    color: #545454;
}

#email {
    font: 18px "Helvetica", Monospace;
}

.info-contato-align {
    text-align: left;
}

.info-contato-align div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 25px;
    border: 1px solid #545454;
    border-radius: 5px;
    width: 50%;
}

input[type=text], textarea[type=text] {
    font: 14px "Helvetica", Monospace;
    color: #545454;
    padding-left: 10px;
}

textarea {
    padding: 10px;
    border: 1px solid #545454;
    border-radius: 5px;
    width: 100%;
}

#button-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 60px;
  margin: 20px 0px 0px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.info-contato img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}